.publications-page {
  padding: 20px;
  margin-left: 400px; /* Adjusted to match the sidebar width */
  margin-top: 60px; /* Adjust according to topbar height */
}

.publications-content {
  margin-top: 20px;
}

.publications-content a {
  text-decoration: none;
  color: #007bff;
}

.publications-content a:hover {
  text-decoration: underline;
}
