/* src/components/WaterAllocationStrategies.css */

.water-allocation-strategies {
  padding: 20px;
  margin: 0 auto; /* Center-align the entire component */
  max-width: 1200px; /* Set a reasonable max-width */
  text-align: center; /* Center-align text content */
}

.scenario-selector {
  display: flex;
  justify-content: center;
  gap: 20px; /* Space between dropdowns */
  margin: 20px 0;
}

.scenario-selector label {
  font-size: 1rem;
  color: #333;
}

.scenario-selector select {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.visualization {
  background-color: #fff;
  padding: 15px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 130%;
}

.visualization h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  text-align: center;
  color: #2d5b8a;
}

.visualization .recharts-wrapper {
  margin: 0 auto;
}

.chart-type-selector {
  margin-top: 20px;
}

.chart-type-selector select {
  margin-left: 10px;
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
